<mat-card class="card">
    <mat-card-title>({{event.RaceEventID}}) {{event.Name}}</mat-card-title>
    <mat-card-subtitle>subtitle</mat-card-subtitle>
    <mat-card-content>This is where most of the content will gom</mat-card-content>
    <mat-card-actions>
        <button mat-button>View</button> <button *ngIf="enableEditing" [attr.data-RaceEventID]="event.RaceEventID" [attr.data-eventName]="event.Name" mat-button (click)="editEvent($event)">Edit</button> <button  *ngIf="enableEditing"  [attr.data-RaceEventID]="event.RaceEventID" [attr.data-name]="event.Name" mat-button (click)="deleteEvent($event)">Delete</button>
    </mat-card-actions>
    <mat-card-footer>footer... so long friend....</mat-card-footer><!-- -->
</mat-card>
