.headingContainer{
    display: flex;
    justify-content: center;
}

.toolBar{
    display: flex;
}

.tournamentsContainer, .chips{
    display: flex;
    flex-flow: wrap;
}


app-tournament-card{
    margin:5px;
}