<mat-toolbar color="primary">
    <span>
    <a mat-button routerLink="/">Hollywood Bet Tester</a>
    </span>
    <span class="spacer"></span>
    <div class="menuContainer">
        <span>
            <a mat-button routerLink="/tournament">Tournanemts</a>
        </span>
        <span class="marginLeft-10">
            <a mat-button routerLink="/events">Events</a>
        </span>
    </div>
    <span class="spacer"></span>
    <button mat-button (click)="logIn()">Log In</button>
    <mat-icon class="icon">favorite</mat-icon>
</mat-toolbar>



